@charset "utf-8";
@media (max-width:1100px) {

}
@media(max-width:768px) {
    .list {
        display: none;
    }
    .nav_btn {
        display: block;
    }
    .section {
        padding: 25px;
    }
    .guide-title h2 {
        font-size: 5vw
    }
    .guide-right {
        width: 100%;
        padding: 40px 20px;
    }
    .guide-btn ul li a {
        width: 100%;
    }
    .guideview-warpper h2 {
        font-size: 5vw;
    }
    .logo-img {
        width: 100%;
    }
}
